body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

nav {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  color: rgb(255, 77, 0);
}